

body {
    background-image: url(../img/back.jpg);
    background-position: center;
    background-size: cover;
    font-family: 'Varela Round', sans-serif;
    
}

h1, h2 {
    text-align: center;
    position: relative;
    font-size: 60px;
    color: rgb(4, 111, 153);
    font-family: 'Varela Round', sans-serif;
}

p {
    text-align: center;
    font-family: 'Varela Round', sans-serif;
}

a {
    cursor: pointer;
    color: rgb(4, 111, 153);
    font-family: 'Varela Round', sans-serif;
}
a:visited {
    color: rgb(4, 111, 153);
}

div {
    margin-top: auto;
}

input {
    width: 100%;
    padding: 8px 8px;
    margin: 5px 0;
    border-radius: 4px;
    border: 1px solid #ccc;
    background-color: white;
    font-family: 'Varela Round', sans-serif;
    font-size: 14px;
}

select {
    width: 100%;
    padding: 8px 8px;
    margin: 5px 0;
    border-radius: 4px;
    border: 1px solid #ccc;
    background-color: white;
    font-size: 14px;
}

input[type=color] {
    width: 20px;
    padding: 1px 1px;
    
}

input[type=submit] {
    margin-right: 10px;
    background-color: rgb(36, 137, 196);
    color: white;
}

button {
    width: 100%;
    padding: 12px 8px;
    margin: 8px 0;
    border-radius: 4px;
    border: 1px solid #ccc;
    cursor: pointer;
    font-family: 'Varela Round', sans-serif;
    color:white;
    background-color: rgb(41, 166, 216);
}
button[type=submit] {
    margin: 1px 2px;
    
}

button[type=reset] {
    height: 20%;
    background-color: rgb(74, 143, 233);
}

nav {
    direction: ltr;
    position: sticky;
    top: 0;
}

#nav-bar {
    position: relative;
}

.nav-item {
    margin: auto;
}

#logo {
    position: absolute;
    top: 0px;
    left: 0px;
    height: 120px;
    width: 400px;
}

#profile {
    height: 120px;
    max-width: 200px;
    border-radius: 6px;
    text-align: center;
    padding: 25px 10px;
    background-color: rgba(223, 223, 223, 0.719);
}

#face {
    height: 70px;
    width: 70px;
}

#login_face {
    height: 120px;
    width: 120px;
    
}

#err {
    color: #FF0000;
}

#short_btn {
    width: 75%;
}

.short_btn {
    width: 75%;
}

.mycontainer {
    padding: 100px;
}

.forms {
    margin-left: 35%;
    margin-right: 35%;
    text-align: center;
    
}

.posts {
    margin-top: 50px;
}

.btn-link {
    
    text-decoration: none;
    border: 1px solid rgb(50, 88, 194);
    padding: 5px 8px;
    
}

.cancel {
    background-color: rgb(247, 68, 14);
    width: 22%;
}

.new_post {
    height: 200px;
    width: 100%;
    background-color: #c7f3f7;
    color: #2055d0;
}

.show_posts {
    white-space: pre-line;
    font-family: 'Varela Round', sans-serif;
    padding: 30px;
}

.card-container.card {
    max-width: 350px;
    padding: 30px 30px;
    margin: 0 auto 25px;
    margin-top: 10px;
    align-items: center;
    background-color: rgb(255, 255, 255, 0.2);
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
}
.sign_up.card-container.card {
    max-width: 600px;
}
.img.card-container.card {
    max-width: 500px;
}

.list-group-item.users{
    width: 350px;
    /* text-align: left; */
    /* border: #FF0000;
    background-color: #FF0000; */
}


@media screen and (max-width: 1400px) {
    h1, h2 {
        font-size: 55px;
    }
    #logo {
        height: 110px;
        width: 380px;
    }
    .forms {
        margin-left: 30%;
        margin-right: 30%;
    }
    .mycontainer {
        padding: 80px;
    }
  }

  @media screen and (max-width: 1100px) {
    h1, h2 {
        font-size: 50px;
    }
    #logo {
        height: 100px;
        width: 360px;
    }
    .forms {
        margin-left: 30%;
        margin-right: 30%;
    }
    .mycontainer {
        padding: 80px;
    }
  }

@media screen and (max-width: 900px) {
    h1, h2 {
        font-size: 40px;
    }
    #logo {
        height: 90px;
        width: 300px;
        margin-left: 30%;
    }
    .forms {
        margin-left: 20%;
        margin-right: 20%;
    }
    .mycontainer {
        padding: 80px;
    }
}

@media screen and (max-width: 530px) {
    
    h1, h2 {
        font-size: 35px;
    }
    #logo {
        height: 80px;
        width: 250px;
        margin-left: 20%;
        margin-right: 20%;
    }
    .forms {
        margin-left: 10%;
        margin-right: 10%;
    }
    .mycontainer {
        padding: 30px;
    }
  }
@media screen and (max-width: 400px) {
    h1, h2 {
        font-size: 25px;
    }
    .forms {
        margin-left: 5%;
        margin-right: 5%;

    }
    .mycontainer {
        padding: 10px;
    }
    #logo {
        margin-left: 10%;
    }
    .sign_up.card-container.card {
        padding: 0px 0px;
        margin: 0px 0px;
    }
}